skip_tags: true

# Do not build feature branch with open Pull Requests
skip_branch_with_pr: true

os: Visual Studio 2015

environment:
  matrix:
    - PYTHON: C:\Python36
    - PYTHON: C:\Python36-x64
    # - PYTHON: C:\Python37
    # - PYTHON: C:\Python37-x64

build_script:
  - choco install winfsp -y --version=1.3.18160
  - git --no-pager log -n2
  - echo %APPVEYOR_REPO_COMMIT%
  - SET PATH=%PYTHON%;%PYTHON%\Scripts;;%PATH%
  - python --version
  - python -c "import struct; print(struct.calcsize('P') * 8)"
  - python -m pip install --upgrade pip
  - pip install .[dev]

test_script:
  # Uncomment this for RDP debug
  # - ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
  # Only print output if check failed
  - black setup.py tests winfspy --check
  - mkdir empty
  - cd empty
  - py.test ../tests/ -vvv
